#sketchField{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 800px;
    height: auto;
    float: right;
 
}
.oneDivStyle{
    height: 50px;
    width: 50px;
}

button{
    width: 100px;
    float: center;
}
.main{
    display: flex;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-flow: column;
}